/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Circular Std', sans-serif;
}


img
{
    max-width: 100%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: var(--spo-grey);
}

/* #endregion common */

/* #region utilities */
:root
{
    --spo-dark: #000000;
    --spo-footer: #282828;
    --spo-content: #141922;
    --spo-light: #ffffff;
    --spo-grey: #a3a3a3;
    --spo-evi: #adff2f;
}

.p-nav
{
    padding: 0 0.75rem;
}

.d-flex
{
    display: flex;
}

.container
{
    width: 95%;
    margin: auto;
}

.row
{
   display: flex;
   flex-wrap: wrap;
}

.col_6
{
    width: calc(100% /12 * 6);
}


.text_c
{
    text-align: center;
}

.my-2
{
    margin: 2rem 0;
}

.underline
{
    background-color: var(--spo-content);
    color: var(--spo-evi);
    height: 2px;
    width: 2rem;
    margin: 0.25rem auto;
}

/* #endregion utilities */

/* #region debug */

/* #endregion debug */

/* #region top */

.top
{
    height: calc(100vh - 80px);
}

/* #region sidebar */

.sidebar
{
    width: 50px;
    background-color: var(--spo-dark);
    color: var(--spo-grey);
    flex-direction: column;
    justify-content: space-between;
    
}

.side_top
{
    overflow-y: auto;
    overflow: hidden;
}

.logo #logo
{
    padding-top: 0.5rem;
}


.logo #text_logo
{
    display: none;
    margin: 1rem 0;
}

.items
{
    line-height: 2rem;
}

.items .item
{
    margin: 0.5rem 0;
}

.description_icon
{
    display: none;
    width: 85%;
    align-self: center;
    font-size: 0.75rem;
    padding-left: 0.25rem;
}

.playlist
{
    display: none;
}

.playlist h2
{
    font-size: 1.25rem;
    margin: 2rem 0 0.75rem;
}

.playlist a
{
    color: var(--spo-grey);
    font-size: 0.75rem;
    line-height: 2rem;
    vertical-align: top;
}

.side_bottom
{
    width: 100%;
    padding-bottom: 1rem;
}

.downloads img
{
    margin: 0.25rem 0;
}

.downloads span
{
    color: var(--spo-grey);
}

.account > hr
{
    display: none;
    margin: 0.5rem 0;
}

.user
{
    align-items: center;
}

.user img
{
    background-color: var(--spo-grey);
    border-radius: 50%;
    margin-top: 0.5rem;
}

.user > h2
{
    font-size: 1rem;
    color: var(--spo-light);
}


/* #endregion sidebar */

/* #region app_main */

.app_main
{
    width: calc(100% - 50px);
    background-color: var(--spo-content);
    overflow-y: auto;
    position: relative;
}

.upgrade
{
    position: sticky;
    top: 0;
    right: 0;
    z-index: 500;
    height: 80px;
    width: 100%;
    background-color: #000000cf;
    justify-content: flex-end;
    align-items: center;
}

.upgrade a
{
    font-size: 0.75rem;
    border: 1px solid var(--spo-light);
    border-radius: 3rem;
    color: var(--spo-light);
    padding: 0.5rem 1rem;
    margin-right: 3rem;
}

.category
{
    padding-top: 1rem;
}

.category ul
{
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.category a
{
    color: var(--spo-grey);
    font-size: 0.75rem;
}

.title_category h1
{
    color: var(--spo-light);
    line-height: 3rem;
    font-size: 2rem;
}

.contents span
{
    color: var(--spo-grey);
    line-height: 1rem;
    font-size: 0.75rem;
}

.contents .card
{
    background-color: var(--spo-content);
    margin: 0.5rem;
    position: relative;
}

.title h2
{
    color: var(--spo-light);
    font-size: 1.25rem;
    margin: 1rem 0;
}

/* #endregion app_main */

/* #endregion top */

/* #region bottom */

footer.bottom
{
    height: 80px;
    background-color: var(--spo-footer);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-around;
}

.tune
{
    flex-grow: 1;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-around;
}

.tune .cover_footer
{
    flex-grow: 1;
    max-width: 50px;
    align-self: center;
}

.tune img
{
    vertical-align: middle;
}

.tune h4
{
    color: var(--spo-light);
    font-size: 0.75rem;
}

.tune span
{
    color: var(--spo-grey);
    font-size: 0.5rem;
}

.tune .title_footer
{
    flex-grow: 2;
}

.tune .like
{
    flex-grow: 1;
    color: var(--spo-grey);
    font-size: 0.75rem;
}

.play
{
    flex-grow: 5;
    color: var(--spo-light);
}

.top_play
{
    height: 50%;
    padding-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.top_play i
{
    margin: 0 0.5rem;
}

.bottom_play
{
    height: 50%;
    justify-content: center;
    align-items: center;
}

.bottom_play span
{
    font-size: 0.5rem;
}

.play_bar,
.volume_bar
{
    background-color: var(--spo-grey);
    border-radius: 1rem;
    width: 70%;
    padding: 1px 0;
    margin: 0 1rem;
}

.peripherals
{
    flex-grow: 2;
    align-items: center;
    justify-content: space-around;
}

.peripherals > .d-flex
{
    justify-content: space-between;
    gap: 0.25rem;
}

.peripherals i
{
    font-size: 0.5rem;
    color: var(--spo-light);
}

/* #endregion bottom */

/* #region animation */

.upgrade a:hover
{
    transform: scale(1.2);
}

li:hover a,
li:hover i,
.downloads span:hover
{
    color: var(--spo-light);
}

a:hover .underline
{
    background-color: var(--spo-evi);
}

.tune .title_footer span:hover
{
    text-decoration: underline;
}

/* #endregion animation */

/* #region responsive */

@media screen and ( min-width: 500px) {

        .p-nav
    {
        padding: 0 1rem;
    }

    .sidebar
    {
        width: 180px;
    }

    .logo #logo
    {
        display: none;
    } 

    .logo #text_logo
    {
        display: block;
    }

    .icon
    {
        width: 15%;
    }
    
    .description_icon
    {
        display: block;
    }

    .playlist
    {
        display: block;
    }

    .playlist h2
    {
        color: var(--spo-light);
    }

    .app_main
    {
        width: calc(100% - 180px);
    }

    .account > hr
    {
        display: block;
    }

    .user img
    {
        margin-top: 0;
    }
}

@media screen and ( min-width: 768px) {
    .col_md_3
    {
        width: calc(100% / 12 * 3);
    }
    
}

@media screen and ( min-width: 1140px) {
    .col_lg_2
    {
        width: calc(100% / 12 * 2);
    }
}

/* #endregion responsive */