/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Circular Std', sans-serif;
}


img
{
    max-width: 100%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/* #endregion common */

/* #region utilities */
:root
{
    --spo-dark: #000000;
    --spo-footer: #282828;
    --spo-content: #141922;
    --spo-light: #ffffff;
    --spo-grey: #a3a3a3;
    --spo-evi: #adff2f;
}

.container
{
    width: 90%;
    margin: auto;
}

.d-flex
{
    display: flex;
}

.p-logo
{
    padding: 0.25rem 0.75rem;
}

.p-icon
{
    padding: 0.25rem 0.75rem;
}

/* #endregion utilities */

/* #region debug */

.debug .top
{
    background-color: red;
}

.debug .side_bottom
{
    background-color: yellow;
}

/* #endregion debug */

/* #region top */

.top
{
    height: calc(100vh - 80px);
}

/* #region sidebar */

.sidebar
{
    width: 50px;
    background-color: var(--spo-dark);
    flex-direction: column;
    justify-content: space-between;
}

.side_top
{
    width: 100%;
}

.logo #text_logo
{
    display: none;
}

.description_icon
{
    display: none;
}

.playlist
{
    display: none;
}

.side_bottom
{
    width: 100%;
}

/* #endregion sidebar */

/* #region content */

.content
{
    width: calc(100% - 50px);
    background-color: var(--spo-content);
    overflow-y: auto;
}

/* #endregion content */

/* #endregion top */

/* #region bottom */

.bottom
{
    height: 80px;
    background-color: var(--spo-footer);
}


/* #endregion bottom */

/* #region responsive */

@media screen and ( min-width: 480px) {
    .sidebar
    {
        width: 180px;
        color: var(--spo-grey);
    }

    .logo #logo
    {
        display: none;
    } 

    .logo #text_logo
    {
        display: block;
        margin: 0.75rem 0;
    }

    .icon
    {
        width: 20%;
    }
    
    .description_icon
    {
        display: block;
        width: 80%;
        align-self: center;
        font-size: 0.75rem;
    }

    .playlist
    {
        display: block;
    }

    .content
    {
        width: calc(100% - 180px);
    }
}

@media screen and ( min-width: 768px) {
    
}

@media screen and ( min-width: 1140px) {
    
}

/* #endregion responsive */